html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i', rel='stylesheet', defer)

  body
    if (props)
      script.
        var reactProps = !{JSON.stringify(props)}
    #react

  script(src='/js/user-profile-react.js')
